h1.color-secondary, h2.color-secondary, h3.color-secondary, h4.color-secondary, h5.color-secondary, h6.color-secondary, .h1.color-secondary, .h2.color-secondary, .h3.color-secondary, .h4.color-secondary, .h5.color-secondary, .h6.color-secondary {
    color: #f3618e;
}

h1.color-primary, h2.color-primary, h3.color-primary, h4.color-primary, h5.color-primary, h6.color-primary, .h1.color-primary, .h2.color-primary, .h3.color-primary, .h4.color-primary, .h5.color-primary, .h6.color-primary {
    color: #ffa93d;
}

.theme-light h1.color-secondary, .theme-light h2.color-secondary, .theme-light h3.color-secondary, .theme-light h4.color-secondary, .theme-light h5.color-secondary, .theme-light h6.color-secondary, .theme-light .h1.color-secondary, .theme-light .h2.color-secondary, .theme-light .h3.color-secondary, .theme-light .h4.color-secondary, .theme-light .h5.color-secondary, .theme-light .h6.color-secondary {
    color: #f3618e;
}

.theme-light h1.color-primary, .theme-light h2.color-primary, .theme-light h3.color-primary, .theme-light h4.color-primary, .theme-light h5.color-primary, .theme-light h6.color-primary, .theme-light .h1.color-primary, .theme-light .h2.color-primary, .theme-light .h3.color-primary, .theme-light .h4.color-primary, .theme-light .h5.color-primary, .theme-light .h6.color-primary {
    color: #ffa93d;
}

h1.color-secondary, h2.color-secondary, h3.color-secondary, h4.color-secondary, h5.color-secondary, h6.color-secondary, .h1.color-secondary, .h2.color-secondary, .h3.color-secondary, .h4.color-secondary, .h5.color-secondary, .h6.color-secondary, p.color-secondary {
    color: #de6288;
}

h1.color-primary, h2.color-primary, h3.color-primary, h4.color-primary, h5.color-primary, h6.color-primary, .h1.color-primary, .h2.color-primary, .h3.color-primary, .h4.color-primary, .h5.color-primary, .h6.color-primary, p.color-primary {
    color: #ffa93d;
}

h1.color-alt-primary, h2.color-alt-primary, h3.color-alt-primary, h4.color-alt-primary, h5.color-alt-primary, h6.color-alt-primary, .h1.color-alt-primary, .h2.color-alt-primary, .h3.color-alt-primary, .h4.color-alt-primary, .h5.color-alt-primary, .h6.color-alt-primary, p.color-alt-primary {
    color: #ff6d3e;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, p span {
    color: #ffa93d;
}

a {
    color: #ffa93d;
}

a:hover, a:focus, a:active {
    color: #de6288;
}

.theme-dark h1.color-secondary, .theme-dark h2.color-secondary, .theme-dark h3.color-secondary, .theme-dark h4.color-secondary, .theme-dark h5.color-secondary, .theme-dark h6.color-secondary, .theme-dark blockquote.color-secondary, .light h1.color-secondary, .light h2.color-secondary, .light h3.color-secondary, .light h4.color-secondary, .light h5.color-secondary, .light h6.color-secondary, .light blockquote.color-secondary {
    color: #f3618e;
}

.theme-dark h1.color-primary, .theme-dark h2.color-primary, .theme-dark h3.color-primary, .theme-dark h4.color-primary, .theme-dark h5.color-primary, .theme-dark h6.color-primary, .theme-dark blockquote.color-primary, .light h1.color-primary, .light h2.color-primary, .light h3.color-primary, .light h4.color-primary, .light h5.color-primary, .light h6.color-primary, .light blockquote.color-primary {
    color: #ffa93d;
}

.theme-dark h1.color-alt-primary, .theme-dark h2.color-alt-primary, .theme-dark h3.color-alt-primary, .theme-dark h4.color-alt-primary, .theme-dark h5.color-alt-primary, .theme-dark h6.color-alt-primary, .theme-dark blockquote.color-alt-primary, .light h1.color-alt-primary, .light h2.color-alt-primary, .light h3.color-alt-primary, .light h4.color-alt-primary, .light h5.color-alt-primary, .light h6.color-alt-primary, .light blockquote.color-alt-primary {
    color: #ff6d3e;
}

.color-primary {
    color: #ffa93d;
}

.color-secondary {
    color: #f3618e;
}

.bg-primary {
    background: #ffa93d;
}

.bg-secondary {
    background: #f3618e;
}

.bg-light-primary {
    background-color: rgba(255, 169, 61, 0.1);
}

.bg-light-secondary {
    background-color: rgba(243, 97, 142, 0.1);
}

.tab-custom .nav-tabs {
    border-bottom-color: rgba(243, 97, 142, 0.2);
}

.tab-custom .nav-tabs li > a:hover {
    color: #ffa93d;
}

.tab-custom .nav-tabs li > a.active, .tab-custom .nav-tabs li > a.active:hover, .tab-custom .nav-tabs li > a.active:focus, .tab-custom .nav-tabs li > a.active:hover, .tab-custom .nav-tabs li > a.active:focus {
    border-bottom-color: #ffa93d;
}

.tab-custom-s2 .nav-tabs li > a.active, .tab-custom-s2 .nav-tabs li > a.active:hover, .tab-custom-s2 .nav-tabs li > a.active:focus, .tab-custom-s2 .nav-tabs li > a.active:hover, .tab-custom-s2 .nav-tabs li > a.active:focus {
    border-bottom-color: #ff6d3e;
}

.theme-light .tab-custom .nav-tabs li > a:hover {
    color: #ffa93d;
}

.pagination li.active a {
    background: #ffa93d;
    border-color: #ffa93d;
}

.pagination li a {
    color: #ffa93d;
}

.pagination li a:hover, .pagination li a:focus {
    color: #fff;
    background: #ffa93d;
    border-color: #ffa93d;
}

.navbar .navbar-nav > li:hover a {
    color: #ffa93d;
}

.navbar .navbar-nav > li > a.nav-link.active {
    color: #ffa93d;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover, .navbar .navbar-nav .dropdown-menu .dropdown-item:focus, .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #ffa93d;
}

.navbar .navbar-nav .dropdown-menu li:hover > a {
    color: #ffa93d;
}

.navbar .navbar-nav .dropdown-menu li:hover.has-children:after {
    border-left-color: #ffa93d;
}

.navbar .navbar-nav .dropdown-menu.active > a, .navbar .navbar-nav .dropdown-menu li > a:hover, .navbar .navbar-nav .dropdown-menu li > a:focus {
    color: #ffa93d;
}

.navbar .navbar-nav .dropdown-menu > .active > a, .navbar .navbar-nav .dropdown-menu > .active > a:focus, .navbar .navbar-nav .dropdown-menu > .active > a:hover {
    color: #ffa93d;
}

.theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item:hover, .theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item:focus, .theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #ffa93d;
}

.theme-light .site-header .navbar-nav > li:hover a {
    color: #ffa93d;
}

.navbar-toggler {
    background: linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
}

.navbar-toggler:hover {
    background: linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
}

.btn {
    background-image: -webkit-linear-gradient(left, #ff6d3e 0%, #ffa93d 100%);
    background-image: linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
}

.btn:before {
    background-image: -webkit-linear-gradient(left, #ffa93d 0%, #ff6d3e 100%);
    background-image: linear-gradient(to right, #ffa93d 0%, #ff6d3e 100%);
}

.btn.btn-alt {
    background-image: -webkit-linear-gradient(left, #f3618e 0%, #ffa93d 100%);
    background-image: linear-gradient(to right, #f3618e 0%, #ffa93d 100%);
}

.btn.btn-alt:before {
    background-image: -webkit-linear-gradient(left, #ffa93d 0%, #f3618e 100%);
    background-image: linear-gradient(to right, #ffa93d 0%, #f3618e 100%);
}

.btn.btn-plane {
    background: #f3618e;
}

.btn.btn-simple .fa {
    color: #ffa93d;
}

.btn.btn-more {
    color: #ffa93d;
}

.btn.btn-more:hover {
    color: #f3618e;
}

.play-btn .play {
    background-image: linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
}

.play-btn .play > span {
    background-image: linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
}

.play-btn-alt .fa {
    background: linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
}

.play-btn > span:last-of-type {
    color: #de6288;
}

.text-block ul:not(.btns) li:before {
    background: #ffa93d;
}

.section-head .section-title span, .section-head .section-title:before {
    color: rgba(243, 97, 142, 0.06);
}

.section-head-s2:before {
    background: #ffa93d;
}

.heading-animation {
    border-top-color: #ff6d3e;
    border-left-color: #ff6d3e;
}

.heading-animation:before {
    border-top-color: #ff6d3e;
    border-lef-colort: #ff6d3e;
}

.heading-animation:after {
    border-top-color: #ff6d3e;
    border-left-color: #ff6d3e;
}

.heading-animation span:first-of-type {
    border-top-color: #ff6d3e;
    border-left-color: #ff6d3e;
}

.heading-animation span:first-of-type:before {
    border-top-color: #ff6d3e;
    border-left-color: #ff6d3e;
}

.heading-animation span:first-of-type:after {
    border-top-color: #ff6d3e;
    border-left-color: #ff6d3e;
}

.heading-animation span:last-of-type {
    border-top-color: #ff6d3e;
    border-left-color: #ff6d3e;
}

.heading-animation span:last-of-type:before {
    border-top-color: #ff6d3e;
    border-left-color: #ff6d3e;
}

.heading-animation span:last-of-type:after {
    border-top-color: #ff6d3e;
    border-left-color: #ff6d3e;
}

.section-connect:before {
    background: linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
}

.event-info:before {
    background: #ffa93d;
}

.countdown-box .token-countdown .countdown-text {
    color: #ffa93d;
}

.countdown-box.countdown-header:after {
    border-color: rgba(243, 97, 142, 0.1);
}

.countdown-box.countdown-header:before {
    border-color: rgba(243, 97, 142, 0.1);
}

.countdown-box.countdown-header .extra-line {
    border-color: rgba(243, 97, 142, 0.1);
}

.countdown-box.countdown-header .extra-line:after {
    border-color: rgba(243, 97, 142, 0.1);
}

.io-azure .countdown-box {
    background: linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
}

.roadmap-list:after {
    background: #f3618e;
}

.single-roadmap:before {
    background-image: -webkit-linear-gradient(top, #ffa93d 0%, #f3618e 100%);
    background-image: linear-gradient(top, #ffa93d 0%, #f3618e 100%);
}

.single-roadmap:after {
    background: #ffa93d;
}

.single-roadmap.roadmap-done:after {
    border-color: #ffa93d;
}

.single-roadmap h6 {
    color: #de6288;
}

.single-roadmap.roadmap-down:before {
    background-image: -webkit-linear-gradient(top, #f3618e 0%, #ffa93d 100%);
    background-image: linear-gradient(top, #f3618e 0%, #ffa93d 100%);
}

.theme-light .single-roadmap:before {
    background-image: -webkit-linear-gradient(top, #ff6d3e 0%, #f3618e 100%);
    background-image: linear-gradient(top, #ff6d3e 0%, #f3618e 100%);
}

.theme-light .single-roadmap:after {
    background: #ff6d3e;
}

.theme-light .single-roadmap.roadmap-done:after {
    border-color: #ffa93d;
}

.theme-light .single-roadmap.roadmap-down:before {
    background-image: -webkit-linear-gradient(top, #f3618e 0%, #ff6d3e 100%);
    background-image: linear-gradient(top, #f3618e 0%, #ff6d3e 100%);
}

.single-roadmap-alt:before {
    background-image: linear-gradient(to right, transparent 0%, #f3618e 50%, #f3618e 100%);
}

.single-roadmap-alt:after {
    border: 1px solid #f3618e;
}

.single-roadmap-alt.sec-pri:before {
    background-image: linear-gradient(to right, #f3618e 0%, #ffa93d 100%);
}

.single-roadmap-alt.sec-pri:after {
    border-color: #ffa93d;
}

.single-roadmap-alt.sec-pri h5:before, .single-roadmap-alt.sec-pri h6:before {
    background: #ffa93d;
}

.single-roadmap-alt.pri-sec:before {
    background-image: linear-gradient(to right, #ffa93d 0%, #f3618e 100%);
}

.single-roadmap-alt.pri-sec:after {
    border-color: #f3618e;
}

.single-roadmap-alt.pri-sec h5:before, .single-roadmap-alt.pri-sec h6:before {
    background: #f3618e;
}

.single-roadmap-alt.sec-prialt:before {
    background-image: linear-gradient(to right, #f3618e 0%, #ff6d3e 100%);
}

.single-roadmap-alt.sec-prialt:after {
    border-color: #ff6d3e;
}

.single-roadmap-alt.sec-prialt h5:before, .single-roadmap-alt.sec-prialt h6:before {
    background: #ff6d3e;
}

.single-roadmap-alt.prialt-pri:before {
    background-image: linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
}

.single-roadmap-alt.prialt-pri:after {
    border-color: #ffa93d;
}

.single-roadmap-alt.prialt-pri h5:before, .single-roadmap-alt.prialt-pri h6:before {
    background: #ffa93d;
}

.single-roadmap-alt.pri-last:before {
    background-image: linear-gradient(to left, transparent 0%, #ffa93d 50%, #ffa93d 100%);
}

.single-roadmap-alt h5:before, .single-roadmap-alt h6:before {
    background: #f3618e;
}

.team-member .team-photo:after {
    background-image: -webkit- linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
    background-image: linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
}

.team-member .team-title {
    color: #ffa93d;
}

.team-member .team-social li a {
    color: #de6288;
}

.team-hex .team-info:before {
    background-image: -webkit- linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
    background-image: linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
}

.team-hex .team-title {
    color: #de6288;
}

.team-described .team-title:after {
    background-image: -webkit- linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
    background-image: linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
}

.team-described .team-social li a {
    color: #de6288;
}

.team-described .team-discription li:before {
    background: #ffa93d;
}

.team-circle .team-photo:before {
    background-image: linear-gradient(to top, #ff6d3e 0%, #ffa93d 100%);
}

.team-circle .team-title {
    color: #de6288;
}

.skill-bar-percent {
    background-image: linear-gradient(to right, #ffa93d 0%, #f3618e 100%);
}

.bg-team-exp.mfp-bg {
    background-image: linear-gradient(to right, #ffa93d 0%, #f3618e 100%);
}

.contact-info li .fa {
    background-image: linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
}

.contact-info-alt li .fa {
    background-image: linear-gradient(to right, #ff6d3e 0%, #ffa93d 100%);
}

.form-message .input-field .input-line {
    border-bottom-color: #ffa93d;
}

.social li a:hover {
    background: #f3618e;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: rgba(255, 169, 61, 0.2);
}

.theme-light .select2-container--default .select2-results__option--highlighted[aria-selected], .io-azure .section-pro .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: rgba(255, 169, 61, 0.4);
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background: rgba(255, 169, 61, 0.3);
}

.select2-container--default .select2-selection--single {
    background: rgba(255, 169, 61, 0.1);
}

.language-switcher .dropdown-item:hover {
    color: #ffa93d;
}

.blog-photo a:after {
    background: linear-gradient(to right, #ffa93d 0%, #f3618e 100%);
}

.blog-meta li {
    color: #f3618e;
}

.blog-meta li span {
    color: #ffa93d;
}

.blog-meta li:after {
    background: #dd1150;
}

.blog-meta li a {
    color: #f3618e;
}

.blog-meta li a:hover {
    color: #ffa93d;
}

.blog-title a:hover {
    color: #ffa93d;
}

.blog-tags li a {
    border-color: rgba(255, 169, 61, 0.2);
}

.blog-tags li a:hover {
    color: #ffa93d;
}

.theme-light .blog-title a:hover {
    color: #ffa93d;
}

.theme-light .blog-tags li a {
    border-color: rgba(255, 169, 61, 0.5);
}

.theme-light .blog-tags li a:hover {
    color: #ffa93d;
}

.io-azure .blog-title a:hover {
    color: #ffa93d;
}

.io-azure .blog-meta li {
    color: #ffa93d;
}

.io-azure .blog-meta li span {
    color: #ffa93d;
}

.io-azure .blog-meta li:after {
    background: #d67700;
}

.io-azure .blog-meta li a {
    color: #ffa93d;
}

.io-azure .blog-meta li a:hover {
    color: #fff;
}

.io-azure .section-pro .blog-title a:hover {
    color: #ffa93d;
}

.io-azure .section-pro .blog-tags li a:hover {
    color: #ffa93d;
}

.io-azure .section-pro .blog-meta li {
    color: #f3618e;
}

.io-azure .section-pro .blog-meta li span {
    color: #9c9c9c;
}

.io-azure .section-pro .blog-meta li:after {
    background: #dd1150;
}

.io-azure .section-pro .blog-meta li a {
    color: #f3618e;
}

.io-azure .section-pro .blog-meta li a:hover {
    color: #ffa93d;
}

.comment-time {
    color: #f3618e;
}

.comment-reply .fa {
    color: #f3618e;
}

.theme-light .comment-reply .fa {
    color: #f3618e;
}

.theme-light .comment-reply:hover {
    color: #f3618e;
}

.io-azure .section-pro .comment-reply .fa {
    color: #f3618e;
}

.io-azure .section-pro .comment-reply:hover {
    color: #f3618e;
}

.page-pagination li a {
    color: rgba(255, 169, 61, 0.5);
}

.page-pagination li a:hover {
    background: rgba(243, 97, 142, 0.4);
}

.page-pagination li.active a {
    background: rgba(243, 97, 142, 0.4);
}

.theme-light .page-pagination li a {
    color: #ffa93d;
}

.theme-light .page-pagination li a:hover {
    color: #fff;
    background: rgba(243, 97, 142, 0.4);
}

.theme-light .page-pagination li.active a {
    background: rgba(243, 97, 142, 0.4);
}

.io-azure .page-pagination li a {
    color: #ffa93d;
}

.io-azure .page-pagination li a:hover {
    color: #fff;
    background: rgba(243, 97, 142, 0.4);
}

.io-azure .page-pagination li.active a {
    background: rgba(243, 97, 142, 0.4);
}

.io-azure .section-pro .page-pagination li a {
    color: #ffa93d;
}

.io-azure .section-pro .page-pagination li a:hover {
    color: #fff;
    background: rgba(243, 97, 142, 0.6);
}

.io-azure .section-pro .page-pagination li.active a {
    color: #fff;
    background: rgba(243, 97, 142, 0.6);
}

.sidebar-widget.category ul li:before {
    background: #ffa93d;
}

.sidebar-widget.category ul li a:hover {
    color: #ffa93d;
}

.sidebar-widget.category ul li.active a {
    color: #ffa93d;
}

.sidebar-widget.tags ul li a {
    border-color: rgba(255, 169, 61, 0.2);
}

.sidebar-widget.tags ul li a:hover {
    color: #ffa93d;
}

.theme-light .sidebar-widget.category ul li a:hover {
    color: #ffa93d;
}

.theme-light .sidebar-widget.category ul li.active a {
    color: #ffa93d;
}

.theme-light .sidebar-widget.tags ul li a {
    border-color: rgba(255, 169, 61, 0.5);
}

.theme-light .sidebar-widget.tags ul li a:hover {
    color: #ffa93d;
}

.io-azure .section-pro .sidebar-widget.category ul li a:hover {
    color: #ffa93d;
}

.io-azure .section-pro .sidebar-widget.category ul li.active a {
    color: #ffa93d;
}

.io-azure .section-pro .sidebar-widget.tags ul li a:hover {
    color: #ffa93d;
}

.search-form input[type="text"] {
    border-color: rgba(255, 169, 61, 0.1);
}

.search-form button {
    background: rgba(255, 169, 61, 0.1);
    color: #fff;
}

.search-form button:hover {
    background: rgba(255, 169, 61, 0.3);
}

.theme-light .search-form input[type="text"] {
    border-color: rgba(255, 169, 61, 0.5);
}

.theme-light .search-form button {
    background: rgba(255, 169, 61, 0.5);
}

.theme-light .search-form button:hover {
    background: rgba(255, 169, 61, 0.8);
}

.io-azure .section-pro .search-form button:hover {
    background: rgba(255, 169, 61, 0.8);
    color: #fff;
}
